/* Fonts variables
    ==================================================*/
$pTSans: 'PT Sans Caption';
$prata: 'Prata';

/* Colors variables
    ==================================================*/
$darkColor: #131316;
$whiteColor: #F7F7F7;
$grayColor: #9C9CA0;
$darkenGrayColor: #757575;
$redColor: #ed1c24;